  body {
      background-color: lightblue;
  }
footer{
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 15px;
}
  hr {
      border: 1px solid blue;
  }

  h1 {
      padding-top: 35px;
      animation-duration: 10s;
      animation-name: slidein;
      text-align: center;
      font-family: "Roboto Mono", monospace;
      text-shadow: 5px 4px 3px blueviolet;
      font-weight: bolder;
      text-transform: uppercase;
  }

  @keyframes slidein {
      from {
          margin-left: 100%;
          width: 300%;
      }
  }

  to {
      margin-left: 0%;
      width: 100%;
  }

  .container {
      background-color: rgb(185, 63, 185);
      border-radius: 15px;
      width: 100%;
  }

  .card-wrapper:hover .card-body {
      transform: rotateY(65deg);
      transition: 1s;
  }

  .card-wrapper {
      margin-top: 30px;
      display: block;
      margin: 0 auto;
  }

  .card-body h4 {
      text-align: center;
      border: 2px solid blue;
      font-family: "Handlee", cursive;
      font-weight: bold;
  }

  .card-body p {
      border: 1px solid blue;
      font-family: "Roboto Mono", monospace;
  }

  #card-body p {
      text-decoration: none;
      border: 1px solid transparent;
      font-family: "Roboto Mono", monospace;
  }

  .card-wrapper:hover #card-body {
      transform: none;
      background-color: blueviolet
  }

  #round-circle {
      filter: grayscale(100%);
  }

  #round-circles {
      filter: grayscale(100%);
  }

  .keys {
      border-radius: 5px;
  }

  .latest {
      font-size: 25px;
      padding: 5px;
      border: 4px solid purple;
      color: #8a2be2;
      border-radius: 90px;
  }

  .latest:hover {
      background-color: pink;
  }

  .give-away {
      font-size: 25px;
      padding: 5px;
      border: 4px solid purple;
      color: blueviolet;
      border-radius: 90px;
      padding-right: 30px;
  }

  .give-away:hover {
      background-color: pink;
  }

  .about-us {
      font-size: 25px;
      padding: 5px;
      border: 4px solid purple;
      color: blueviolet;
      border-radius: 90px;
      padding-right: 30px;
  }

  .about-us:hover {
      background-color: pink;
  }


  .top-track {
      border-radius: 10px;
  }

  .social-media {
      list-style: none;
  }

  .social-media li {
      padding: 10px;
  }

  .artist {
      font-size: 20px;
      font-family: "Roboto Mono", monospace;
  }

  .similar-artists {
      float: right;
      font-family: "Handlee", cursive;
      text-transform: uppercase;
      text-shadow: 4px 2px 3px darkblue;
      font-size: 25px;
      color: #fff;
      writing-mode: vertical-rl;
  }

  .card {
      background-color: transparent;
      padding: 10px;
      width: 80%;
      height: 120%;
      display: block;
      margin: 0 auto;
      border-radius: 10px;
      border: 1px solid blue;
  }
  